<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niucube.overhaul">

    <application>
        <activity
            android:name=".CreateRoomActivity"
            android:exported="false" />
        <activity
            android:name=".OverhaulListActivity"
            android:exported="true" />
        <activity
            android:name=".OverhaulActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true" />
    </application>

</manifest>