<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>BG.png</key>
   <dict>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{750,179}</string>
    <key>spriteSourceSize</key>
    <string>{750,179}</string>
    <key>textureRect</key>
    <string>{{10,398},{750,179}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Celebration_Ribbon.png</key>
   <dict>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{566,387}</string>
    <key>spriteSourceSize</key>
    <string>{566,387}</string>
    <key>textureRect</key>
    <string>{{10,10},{566,387}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>High.png</key>
   <dict>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{292,256}</string>
    <key>spriteSourceSize</key>
    <string>{292,256}</string>
    <key>textureRect</key>
    <string>{{577,10},{292,256}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>HitPoint.png</key>
   <dict>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{577,267},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Loading_Rewards_Bg.png</key>
   <dict>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{750,179}</string>
    <key>spriteSourceSize</key>
    <string>{750,179}</string>
    <key>textureRect</key>
    <string>{{10,578},{750,179}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Number_Of_Awards.png</key>
   <dict>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,41}</string>
    <key>spriteSourceSize</key>
    <string>{79,41}</string>
    <key>textureRect</key>
    <string>{{706,267},{79,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1024,1024}</string>
   <key>textureFileName</key>
   <string>Combin_01.pvr</string>
  </dict>
 </dict>
</plist>
