<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.niucube.basemutableroom">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application >
        <service android:name="com.niucube.basemutableroom.com.niucube.rtcroom.screencapture.RecordService"
            android:foregroundServiceType="mediaProjection"
            />
    </application>

</manifest>